<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        #left {
            float: left;
            width: 300px;
        }
        #map {
            height: 500px;
            width: 500px;
            float: left;
            border: 1px solid black;
        }

    </style>
    <link rel="stylesheet" type="text/css" href="../lib/ol3/ol.css">
</head>
<body>

<div id="left">
</div>
<div id="map"></div>

<script type="text/javascript" src="../lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../lib/underscore/underscore-min.js"></script>
<script type="text/javascript" src="../lib/backbone/backbone.js"></script>
<script type="text/javascript" src="../lib/ol3/ol.js"></script>


<script type="text/javascript" src="../dist/ol3core.js"></script>
<script type="text/javascript" src="../dist/initbbmap.js"></script>

<script type="text/javascript">
(function () {
    'use strict';

    var mapConfig = {
        "layers": [
            {
                "isBaseLayer": true,
                "source": "WMTS",
                "url": "http://opencache.statkart.no/gatekeeper/gk/gk.open_wmts?",
                "layername": "havbunn_grunnkart",
                "name": "Havbunn Grunnkart"
            },
            {
                "isBaseLayer": true,
                "source": "WMTS",
                "url": "http://opencache.statkart.no/gatekeeper/gk/gk.open_wmts?",
                "layername": "norges_grunnkart",
                "name": "Norges Grunnkart",
                "visible": true
            },
            {
                "isBaseLayer": true,
                "source": "WMTS",
                "url": "http://opencache.statkart.no/gatekeeper/gk/gk.open_wmts?",
                "layername": "topo2",
                "name": "Topo2"
            },
            {
                "source": "WMS",
                "url": "http://wms.geonorge.no/skwms1/wms.nmg?",
                "layername": "Norges_okonomiske_sone",
                "name": "Norges økonomiske sone",
                "tiled": false,
            },
            {
                "source": "WMS",
                "url": "http://wms.geonorge.no/skwms1/wms.nmg?",
                "layername": "Grunnlinje",
                "visible": false,
                "name": "Grunnlinje",
                "tiled": false,
            },
            {
                "source": "GeoJSON",
                "url": "fc.geojson",
                "name": "GeoJSON data"
            }
        ]
    };

    var BaseLayerView = Backbone.View.extend({

        tagName: 'li',

        template: _.template('<input name="bg" type="radio" <% if (visible) { print("checked") } %> ><%= name %>'),

        events: {
            'change input': 'change'
        },

        render: function () {
            this.$el.html(this.template({
                name: this.model.get('name'),
                visible: this.model.get('visible')
            }));
            return this;
        },

        change: function () {
            this.model.set('visible', true);
        }
    });

    var OverlayLayerView = Backbone.View.extend({

        tagName: 'li',

        template: _.template('<input type="checkbox" <% if (visible) { print("checked") } %>><%= name %>'),

        events: {
            'change input': 'change'
        },

        render: function () {
            this.$el.html(this.template({
                name: this.model.get('name'),
                visible: this.model.get('visible')
            }));
            return this;
        },

        change: function () {
            this.model.set('visible', this.$('input').prop('checked'));
        }
    });

    var LayersView = Backbone.View.extend({

        tagName: 'ul',

        render: function () {
            var els = this.collection.map(function (layer) {
                return new this.subview({model: layer}).render().$el;
            }, this);
            this.$el.append(els);
            return this;
        }
    });

    var BaseLayersView = LayersView.extend({
        subview: BaseLayerView,
    });

    var OverlayLayersView = LayersView.extend({
        subview: OverlayLayerView
    });

    function initPage(mapConfig, mapEl, listEl) {
        bbol3.initBBMap(mapConfig, mapEl, function (baseLayers, overlays) {
            var el = $('#' + listEl);
            el.append('<h3>Base layers</h3>');
            el.append(new BaseLayersView({collection: baseLayers}).render().$el);
            el.append('<h3>Overlays</h3>');
            el.append(new OverlayLayersView({collection: overlays}).render().$el);
        });
    }
    initPage(mapConfig, 'map', 'left');


}());
</script>

</body>
</html>
